@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --cor-padrao:#ff523b;
    --cor-padrao-hover:#f3b2e5;
    --cor-fonte:#fff;
    --cor-fonte-p:#555;
    --cor-btn:#563434;
    --cor-btn-hover:#15ff00;
    --cor-btn-fonte:#000;
    --cor-fonte-corpo:#555;
    --cor-fonte-corpo-leve:#777;
}

body{
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

.banner{
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
}

.banner .linha{
    margin-top:70px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

nav a{
    text-decoration: none;
    color: var(--cor-btn-fonte);
}

.nav, a:hover{
    color: var(--cor-fonte);
}

.carrinho{
    cursor: pointer;
}

.banner p{
    color: var(--cor-fonte);
}

p{
    color: var(--cor-fonte-p);
}

.linha{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex:1; /* Se estiver usando flexbox */
    max-width: 100vh; /* Limita a largura para dividir a tela em colunas */
    align-items: flex-start;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 0;
    padding: 0;
}

.insta {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: var(--cor-fonte); /* Transparente para mostrar o gradiente */
    background: linear-gradient(to right, #F7899D 50%, #F59FC3 50%);
    background-clip: text; /* Faz o gradiente aplicar apenas no texto */
    -webkit-background-clip: text;
  }
  
  .insta span {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Oculta o texto para criar o efeito de digitação */
    white-space: nowrap; /* Evita quebra de linha */
    width: 0px; /* Inicialmente oculto */
    animation: digita 8s steps(50) infinite; /* Animação de digitação */
  }
  
  .insta span::after {
    content: ""; /* Cursor piscando */
    position: absolute;
    height: 100%;
    border-left: 10px solid black;
    right: 0px;
    width: calc(100% + 18px);
    animation: cursor 0.4s steps(1) infinite;
  }
  
  @keyframes digita {
    0%, 100% {
      width: 0; /* Começa e termina oculto */
    }
    50% {
      width: 100%; /* Mostra o texto */
    }
  }
  
  @keyframes cursor {
    0%, 50% {
      opacity: 1; /* Cursor visível */
    }
    51%, 100% {
      opacity: 0; /* Cursor invisível */
    }
  }
  

.col-2 p{
    font-weight: 600;
    color: var(--cor-btn-fonte);
}

.btn{
    text-decoration: none;
    color: var(--cor-fonte);
    background: var(--cor-btn);
    padding: 8px 30px;
    margin: 30px 20px 0 30px;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: var(--cor-btn-hover);
    color: var(--cor-fonte-btn);
}

.categorias{
    margin: 70px 0;
}

.corpo-categorias{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
    justify-items: center;
}


.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin: 50px;
    transition: transform 0.5s;
}

.col-4:hover{
    transform: scale(1.1);  
}

.col-4 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.titulo{
    position: relative;
    line-height: 60px;
    margin: 0 auto 80px;
    text-align: center;
    color: var(--cor-fonte-corpo);
}

.titulo::after{
    content: '';
    background-color: var(--cor-padrao);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: var(--cor-fonte-corpo);
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.classificacao{
    color: var(--cor-padrao);
}

 /* Container da barra de pesquisa */
 .search-container {
    display: flex;
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
    padding: 0px;
    margin-inline-start: 21%;
  }

  /* Barra de entrada de texto */
  .search-bar {
    flex: 1;
    padding: 12px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 8px 0 0 8px;
    outline: none;
  }

  /* Botão de pesquisa */
  .search-button {
    padding: 12px 20px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  /* Efeito hover no botão */
  .search-button:hover {
    background-color: #0056b3;
  }

/*------ofertas--------*/


.ofertas {
    background: radial-gradient(var(--cor-padrao), var(--cor-padrao-hover));
    width: 100vw; /* Garante que a largura do fundo seja igual à largura da janela */
    margin: 0; /* Remove margens externas */
    padding: 0; /* Remove espaçamentos internos */
    overflow-x: hidden; /* Impede o vazamento horizontal */
    margin-left: 0px;
}

.linha {
    width: 100%;
    margin: 0 auto;
}

small{
    color: var(--cor-btn-fonte);
}

/*----------depoimentos---------*/
.titulodepoimento{
    text-align: center;
    font-size: x-large;
    padding-top: 20px;
    color: var(--cor-fonte-p);
}

.depoimentos{
    padding-top: 100px;
}

.depoimentos .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--cor-padrao-hover);
    cursor: pointer;
    transition: transform 1s;
}

.depoimentos .col-3:hover{
    transform: scale(1.1);
}

.depoimentos .col-3 img{
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid var(--cor-padrao);
}

.depoimento-ribbon{
    color:var(--cor-padrao)
}

/*-----MARCAS---------*/

.marcas{
    margin: 100px auto;
}

.col-5{
    width: 170px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0%);
}



/*------------Rodape----------*/

.rodape{
    background: var(--cor-btn-fonte);
    color: var(--cor-fonte);
    padding: 60px 0 20px;
    font-size: 14px;
}

.rodape p{
    color: var(--cor-fonte);
}

.rodape h3{
    color: var(--cor-fonte);
    margin-bottom: 20px;
}

.rodape-col-1, .rodape-col-3, .rodape-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.rodape-col-1{
    flex-basis: 30%;
}

.rodape-col-3, .rodape-col-4{
    flex-basis: 12%;
    text-align: right;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 150px;
}

.rodape hr{
    border: none;
    height: 1px;
    background: var(--cor-fonte);
    margin: 20px 0;
}

.direitos{
    text-align: center;
}

.menu-cel{
    width: 28px;
    margin-left: 20px;
    display: none;
}

.contatoss{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .contatoss a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    padding: 5px 0;
  }

  .contatoss a:hover{
    color: var(--cor-btn-hover);
  }

/*-----Menu celular-------*/

@media only screen and (max-width:800px){
    .logoSouza{
        width: 70px;
    }

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: var(--cor-fonte-corpo);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    nav ul li {
        color: var(--cor-btn-fonte);
    }

    .branco:hover{
        color: var(--cor-fonte);
    }

    .menu-cel{
        display: block;
        cursor: pointer;
    }

    .search-container {
        flex-direction:row;
        margin-left: 40px;
        gap: 5px;
        padding: 15px;
      }

      .search-bar {
        width: 100%;
        font-size: 14px;
        padding: 10px;
      }

      .search-button {
        font-size: 14px;
        padding: 10px;
      }

      .contatoss{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }

      .contatoss a{
        text-decoration: none;
        font-size: 18px;
        color: white;
        padding: 5px 0;
      }

      .contatoss a:hover{
        color: var(--cor-btn-hover);
      }
}

/*--------- Cel 600---------*/

@media only screen and (max-width:600px){

    .logoSouza{
        width: 70px;
    }


    .linha{
        text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    .ofertas{
        width: 100%;
        padding: 40px;
        margin: 5px;
    }

    .btn, a{
        font-size: 14px;
    }

    .col-2 h1{
        font-size: 27px;
    }

    .rodape-col-3, .rodape-col-4{
        text-align: center;
    }

    .col-4 p{
        font-size: 24px;
    }

     .search-container {
        flex-direction:row;
        margin-left: 20px;
        gap: 5px;
        padding: 15px;
      }

      .search-bar {
        width: 100%;
        font-size: 14px;
        padding: 10px;
      }

      .search-button {
        font-size: 14px;
        padding: 10px;
      }
}
